{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% include 'nav_fem.html' %}
{% endblock%}

{%block content %}

<div class="container-fluid mt-1" style="background:  #f3faf4; width: 100%;">
  <div style="background: #eaeceb; width: 100%; padding: 10px; border:1px solid white; border-radius:10px/10px">
  	<a href="{% url 'home' %}" class="text-info mb-4" style="float: right;"><i class="fas fa-arrow-circle-left"></i> Retour genre</a>
    <form method='POST' action="{% url 'addvtm' %}" class="mt-5">
    	{% csrf_token %}
    	<i style='font-size: 12px'>*Entrer le nom du vetement qu vous voulez ajoutez, exemple: Robe, Veston etc...<i class="fas fa-arrow-circle-down"></i></i>
    	{{form.nom}}
    	<i style='font-size: 12px'>*Selectionner le genre concerner par cette habillement.<i class="fas fa-arrow-circle-down"></i></i>
    	{{form.sexe}}

    	<i style='font-size: 12px'>*Dite nous plus apropos de cette habillement de quoi s'agit-il au juste ?.<i class="fas fa-arrow-circle-down"></i></i>
    	{{form.description}}

    	<input type="submit" class="btn btn-light text-info mt-4" value=" + Ajouter">
    </form>
    
  </div>
</div>


 {% endblock %}